USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[MarkRMApprovalPending_WhenNoSO_MASL]    Script Date: 8/13/2025 6:14:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[MarkRMApprovalPending_WhenNoSO_MASL]
    @OrderNumber BIGINT,
    @Message     NVARCHAR(2000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.TB_Create_Dealer_Order
    SET
        RMApproval        = 'Pending',
        RMApproval_Date   = NULL,
        SONumber          = NULL,
        SO_Date           = NULL,
        ResultMessage     = CASE 
                                WHEN @Message IS NULL OR LTRIM(RTRIM(@Message)) = '' 
                                    THEN 'No SO number returned by SAP'
                                ELSE @Message
                            END,
        SalesIndentStatus = 'RM Pending'
    WHERE CreateOrderNumber = @OrderNumber;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
