USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetDebitCreditEntries]    Script Date: 9/5/2025 12:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDebitCreditEntries]
    @CustomerCode NVARCHAR(50) = NULL,   
    @Status       NVARCHAR(20) = NULL    
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        dce.Id,
        dce.TransactionDate,
        dce.CustomerCode,
        dce.TransactionType,
        dce.TransactionNumber,
        dce.Amount,
        dce.TransactionRemarks,
        dce.Status,
        dce.CreatedAt
    FROM dbo.TB_DebitCreditEntry dce
    WHERE (@CustomerCode IS NULL OR dce.CustomerCode = @CustomerCode)
      AND (@Status IS NULL OR LTRIM(RTRIM(dce.Status)) = LTRIM(RTRIM(@Status)))
    ORDER BY dce.CreatedAt DESC, dce.Id DESC;
END
GO
