USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDNCNStatus]    Script Date: 9/5/2025 12:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateDNCNStatus]
    @Id INT,
    @Status NVARCHAR(20),
    @RowsAffected INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @RowsAffected = 0;

    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @CustomerCode       NVARCHAR(50);
        DECLARE @Amount             DECIMAL(18,2);
        DECLARE @TxnType            NVARCHAR(100);
        DECLARE @TxnNumber          NVARCHAR(100);
        DECLARE @CurrentBalance     DECIMAL(18,2);

        /* Fetch the pending entry details */
        SELECT 
            @CustomerCode = dce.CustomerCode,
            @Amount       = dce.Amount,
            @TxnType      = dce.TransactionType,
            @TxnNumber    = dce.TransactionNumber
        FROM dbo.TB_DebitCreditEntry dce
        WHERE dce.Id = @Id
          AND dce.Status = 'Pending';

        IF @CustomerCode IS NULL
        BEGIN
            -- No pending row found for this Id
            ROLLBACK TRANSACTION;
            RETURN;
        END

        /* Update status (and ApprovedAt when Approved) */
        UPDATE dbo.TB_DebitCreditEntry
        SET Status = @Status,
            ApprovedAt = CASE WHEN @Status = 'Approved' THEN GETDATE() ELSE ApprovedAt END
        WHERE Id = @Id;

        SET @RowsAffected = @@ROWCOUNT;

        /* If approved, reflect in TB_CustomerTransaction */
        IF @Status = 'Approved'
        BEGIN
            -- Latest TotalAvailableBalance for this customer
            SET @CurrentBalance = ISNULL(
                (SELECT TOP 1 TotalAvailableBalance
                 FROM dbo.TB_CustomerTransaction
                 WHERE CustomerCode = @CustomerCode
                 ORDER BY LastUpdated DESC), 0);

            /* 
               Rule:
               - Credit / Credit note => adds to balance (DepositedBalance)
               - Debit / Debit note   => deducts from balance (DeductedBalance)
               - Other/unknown types  => sign of Amount decides (+/-)
            */
            DECLARE @NewTotal DECIMAL(18,2);
            DECLARE @Deposited DECIMAL(18,2) = 0;
            DECLARE @Deducted  DECIMAL(18,2) = 0;

            IF UPPER(LTRIM(RTRIM(@TxnType))) IN ('CREDIT', 'CREDIT NOTE', 'CREDIT NOTE.', 'CN')
            BEGIN
                SET @Deposited = @Amount;
                SET @NewTotal = @CurrentBalance + @Amount;
            END
            ELSE IF UPPER(LTRIM(RTRIM(@TxnType))) IN ('DEBIT', 'DEBIT NOTE', 'DEBIT NOTE.', 'DN')
            BEGIN
                SET @Deducted = @Amount;
                SET @NewTotal = @CurrentBalance - @Amount;
            END
            ELSE
            BEGIN
                -- Fallback: use sign of Amount
                IF @Amount >= 0
                BEGIN
                    SET @Deposited = @Amount;
                    SET @NewTotal = @CurrentBalance + @Amount;
                END
                ELSE
                BEGIN
                    SET @Deducted = ABS(@Amount);
                    SET @NewTotal = @CurrentBalance + @Amount; -- amount negative
                END
            END

            INSERT INTO dbo.TB_CustomerTransaction
            (
                CustomerCode,
                AvailableBalance,      -- previous total before this txn
                DepositedBalance,
                TotalAvailableBalance, -- new total after this txn
                TransactionType,
                LastUpdated,
                DeductedBalance,
                DispatchBalance,
                OrderNumber,
                ReferenceNumber
            )
            VALUES
            (
                @CustomerCode,
                @CurrentBalance,
                @Deposited,
                @NewTotal,
                @TxnType,              -- taken from TB_DebitCreditEntry
                GETDATE(),
                @Deducted,
                0,                     -- unaffected here
                NULL,                  -- not an order
                @TxnNumber             -- use Debit/Credit TransactionNumber as reference
            );
        END

        COMMIT TRANSACTION;
        RETURN @RowsAffected;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
