USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerCodesByMaterial_A860]    Script Date: 8/20/2025 10:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetCustomerCodesByMaterial_A860]
    @CompanyCode BIGINT,                 -- e.g., 1054
    @MaterialDescription NVARCHAR(200) -- incoming UI text
AS
BEGIN
   SET NOCOUNT ON;

    DECLARE @md_lower NVARCHAR(200) = LOWER(LTRIM(RTRIM(@MaterialDescription)));

    ;WITH d AS (
        SELECT DISTINCT
            LTRIM(RTRIM(pm.Customer_Number))                         AS CustomerCode,
            COALESCE(LTRIM(RTRIM(cm.CustomerName)), '')              AS CustomerName  -- trimmed; NULL -> ''
        FROM dbo.TB_PriceMaster pm
        LEFT JOIN dbo.TB_CustomerMaster cm
               ON cm.CompanyCode = pm.CompanyCode
              AND LTRIM(RTRIM(cm.CustomerCode)) = LTRIM(RTRIM(pm.Customer_Number))
        WHERE pm.CompanyCode = @CompanyCode
          AND pm.Condition_Table = 'A860'
          AND ( pm.Material_Description_Lower = @md_lower
                OR LOWER(pm.Material_Description) = @md_lower )
          AND (pm.Valid_From IS NULL OR pm.Valid_From <= CAST(GETDATE() AS DATE))
          AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= CAST(GETDATE() AS DATE))
          -- Uncomment if you use this flag:
          -- AND (pm.Deletion_Indicator IS NULL OR pm.Deletion_Indicator IN ('','0'))
          AND pm.Customer_Number IS NOT NULL
          AND LTRIM(RTRIM(pm.Customer_Number)) <> ''
    )
    SELECT CustomerCode, CustomerName
    FROM d
    ORDER BY
        CASE WHEN CustomerName = '' THEN 1 ELSE 0 END,  -- blanks last
        CustomerName,
        CustomerCode;
END
GO
