USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_Order_Approvals_MASL]    Script Date: 8/14/2025 4:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Get_Order_Approvals_MASL]
    @CreateOrderNumber BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        TMApproval = CAST(ISNULL(TMApproval, 0) AS bit),
        RMApproval = CAST(ISNULL(RMApproval, 0) AS bit)
    FROM dbo.TB_Create_Dealer_Order
    WHERE CreateOrderNumber = @CreateOrderNumber;
END
GO
