USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetProductOffering_CompanyCode]    Script Date: 8/12/2025 12:37:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductOffering_CompanyCode]
    @CompanyCode INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
       

        ;WITH Valid AS (
            SELECT DISTINCT
                LTRIM(RTRIM(PM.[Crop]))      AS Crop,
                LTRIM(RTRIM(PM.[PackSize]))  AS PackSize
            FROM dbo.TB_PriceMaster PM
            WHERE PM.CompanyCode = @CompanyCode
              AND (PM.Deletion_Indicator IS NULL OR PM.Deletion_Indicator NOT LIKE '%X%')
              AND PM.[Crop] IS NOT NULL
              AND LTRIM(RTRIM(PM.[Crop])) <> ''
              AND PM.[PackSize] IS NOT NULL
              AND LTRIM(RTRIM(PM.[PackSize])) <> ''
              AND LTRIM(RTRIM(PM.[PackSize])) <> 'Crop'
        )
        SELECT
            V.Crop,
            V.PackSize
        FROM Valid V
        OUTER APPLY (
            SELECT MIN(PP.Priority) AS CropPriority
            FROM dbo.TB_ProductPriority PP
            WHERE LTRIM(RTRIM(PP.Crop)) = V.Crop
        ) CP
        ORDER BY 
            COALESCE(CP.CropPriority, 9999) ASC,  -- only crop priority
            V.Crop ASC;                            -- tie-breaker only by Crop

    END TRY
    BEGIN CATCH
        INSERT INTO ErrorLog_dashboard (
            ErrorNumber, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine, ErrorMessage, ProcedureName
        )
        VALUES (
            ERROR_NUMBER(), ERROR_SEVERITY(), ERROR_STATE(), ERROR_PROCEDURE(), ERROR_LINE(),
            ERROR_MESSAGE(), 'GetProductOffering_CompanyCode'
        );

        SELECT ERROR_NUMBER() AS ErrorNumber, ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
