USE [agriuatbackup3June2025]
GO
/****** Object:  Table [dbo].[TB_Plant_State]    Script Date: 9/10/2025 6:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Plant_State](
	[Plant] [nvarchar](10) NOT NULL,
	[State] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Plant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_Plant_State] ([Plant], [State]) VALUES (N'MZ01', N'Punjab')
INSERT [dbo].[TB_Plant_State] ([Plant], [State]) VALUES (N'MZ02', N'Punjab')
INSERT [dbo].[TB_Plant_State] ([Plant], [State]) VALUES (N'MZ03', N'Himachal Pradesh')
GO
