USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetDispatchRequests]    Script Date: 8/6/2025 3:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDispatchRequests] 
AS
BEGIN
    WITH OrdersWithSO AS (
        SELECT DO.OrderNumber, DO.ProductId, DO.SONumber
        FROM DealerOrderMHZPC DO
    )
    SELECT 
        DR.[Id], 
        DR.[CustomerCode], 
        DR.[OrderNumber], 
        DR.[ProductId], 
        DR.[ItemId],
        DR.[PriceCardType], 
        DR.[PricePerKg], 
        DR.[BookingPrice], 
        
        
        CASE 
            WHEN DR.PriceCardType = 'Single' THEN DO.OrderQuantity
            WHEN DR.PriceCardType = 'Combo' AND DR.ItemId = 1 THEN DO.OrderQuantity
            WHEN DR.PriceCardType = 'Combo' AND DR.ItemId = 2 THEN DO.SecondaryOrderQuantity
            ELSE NULL
        END AS BookedQty,

        DR.[BookingAmtPaid], 
        DR.[BalanceAmtToPay], 
        DR.[BalanceQuantity], 
        DR.[DispatchStatus], 
        DR.[RequestForQuantityMT], 
        DR.[AmountRequiredToDispatch], 
        DR.[BookingAmountReceived], 
        DR.[BalanceAmount], 
        DR.[FromDate], 
        DR.[ToDate], 
        DR.[DispatchAddress], 
        DR.[CreatedOn]
    FROM DispatchRequests DR
    INNER JOIN OrdersWithSO OWSO 
        ON DR.OrderNumber = OWSO.OrderNumber 
        AND DR.ProductId = OWSO.ProductId
    INNER JOIN DealerOrderMHZPC DO 
        ON DR.OrderNumber = DO.OrderNumber 
        AND DR.ProductId = DO.ProductId 
        AND DR.PriceCardType = DO.PriceCardType
    WHERE NOT EXISTS (
        SELECT 1 
        FROM TB_InvoiceHeader IH
        WHERE IH.SalesOrderNo = OWSO.SONumber 
          AND IH.SalesOrganisation = 'MZ01'
    )
    ORDER BY DR.CreatedOn DESC;
END
GO
