USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCropInProductOff]    Script Date: 8/12/2025 4:57:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetProductsByCropInProductOff]
    @CompanyCode INT,
    @Crop        NVARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        ;WITH Ranked AS (
            SELECT 
                PM.CompanyCode,
                ISNULL(PM.ProductId, PI.ProductId) AS ProductId,
                PM.Material_Number,
                PM.Material_Description,
                PM.Crop,
                PM.Variety,
                PM.Stage,
                PM.Grade,
                PM.Unit_Of_Measurement,
                PI.APIURL AS ImagePath,
                PM.Condition_Amount,
                PM.PackSize,
                PM.DIVISION,

                -- Priority only from Material_Description mapping
                PPd.Priority AS MappedPriority,

                ROW_NUMBER() OVER (
                    PARTITION BY PM.Material_Number
                    ORDER BY 
                        CASE WHEN PPd.Priority IS NULL THEN 1 ELSE 0 END,  -- unmapped → bottom
                        PPd.Priority ASC,
                        PM.Material_Description ASC
                ) AS RowNum
            FROM TB_PriceMaster PM
            LEFT JOIN TB_ProductImages PI
                ON PM.CompanyCode = PI.CompanyCode
               AND (
                    PM.Material_Description LIKE PI.ProductName + '%'
                 OR PM.Material_Description LIKE '%' + PI.ProductName + '%'
               )
            LEFT JOIN dbo.TB_ProductPriority PPd
                ON LTRIM(RTRIM(PM.Material_Description)) = LTRIM(RTRIM(PPd.Material_Description))
            WHERE 
                  PM.CompanyCode = @CompanyCode
              AND PM.Crop        = @Crop
              AND (PM.Deletion_Indicator IS NULL OR PM.Deletion_Indicator NOT LIKE '%X%')
        )
        SELECT 
            CompanyCode,
            Material_Number,
            Material_Description,
            Crop,
            Variety,
            Stage,
            Grade,
            Unit_Of_Measurement,
            ImagePath,
            Condition_Amount,
            PackSize,
            Division
        FROM Ranked
        WHERE RowNum = 1
        ORDER BY 
            CASE WHEN MappedPriority IS NULL THEN 1 ELSE 0 END,  -- unmapped last
            MappedPriority ASC,
            Material_Description ASC;                            -- tie-breaker
    END TRY
    BEGIN CATCH
        INSERT INTO ErrorLog_GetProductOffering
            (ErrorMessage, ErrorSeverity, ErrorState, ProcedureName, ErrorLine, ErrorDate)
        VALUES (
            ERROR_MESSAGE(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            'GetProductsByCropInCreateIndent',
            ERROR_LINE(),
            GETDATE()
        );

        SELECT 
            NULL AS CompanyCode,
            NULL AS Material_Number,
            NULL AS Material_Description,
            NULL AS Crop,
            NULL AS Variety,
            NULL AS Stage,
            NULL AS Grade,
            NULL AS Unit_Of_Measurement,
            NULL AS ImagePath,
            NULL AS Condition_Amount;
    END CATCH
END
GO
