USE [agriuatbackup3June2025]
GO
/****** Object:  Table [dbo].[TB_StateRegionMap]    Script Date: 8/20/2025 6:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_StateRegionMap](
	[RegionCode] [nvarchar](40) NOT NULL,
	[StateName] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TB_StateRegionMap] ([RegionCode], [StateName]) VALUES (N'01', N'Andhra Pradesh')
INSERT [dbo].[TB_StateRegionMap] ([RegionCode], [StateName]) VALUES (N'02', N'Arunachal Pradesh')
INSERT [dbo].[TB_StateRegionMap] ([RegionCode], [StateName]) VALUES (N'03', N'Assam')
GO
