USE [agriuatbackup3June2025]
GO
/****** Object:  Table [dbo].[TB_SAP_SO_Response_Log_MASL]    Script Date: 8/13/2025 6:14:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SAP_SO_Response_Log_MASL](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CreateOrderNumber] [bigint] NOT NULL,
	[CustomerCode] [nvarchar](50) NULL,
	[SONumber] [nvarchar](50) NULL,
	[Message] [nvarchar](2000) NULL,
	[LoggedAt] [datetime2](0) NOT NULL,
	[Source] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_SAP_SO_Response_Log_MASL] ADD  CONSTRAINT [DF_TB_SAP_SO_Response_Log_MASL_LoggedAt]  DEFAULT (sysdatetime()) FOR [LoggedAt]
GO
ALTER TABLE [dbo].[TB_SAP_SO_Response_Log_MASL] ADD  CONSTRAINT [DF_TB_SAP_SO_Response_Log_MASL_Source]  DEFAULT ('CreateSapOrder') FOR [Source]
GO
