USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetConditionAmount_TESTING2]    Script Date: 9/11/2025 6:06:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetConditionAmount_TESTING2]
    @CompanyCode        VARCHAR(10),
    @Variety            VARCHAR(50),
    @Product            VARCHAR(100),
    @Generation         VARCHAR(10),
    @Grade              VARCHAR(10),
    @DestinationState   VARCHAR(100) = NULL,   -- A935/A706: Dest → RegionCode
    @CustomerCode       VARCHAR(50)  = NULL,   -- A860: customer-wise
    @ExState            VARCHAR(100) = NULL    -- A706/A517: ExState → Plant(s) via TB_Plant_State
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FinalConditionAmount DECIMAL(18,2) = NULL;
    DECLARE @AsOfDate DATE = CONVERT(DATE, GETDATE()); 

    -- 1049 priority (unchanged)
    DECLARE @ConditionTablePriority TABLE (PriorityOrder INT, ConditionTable NVARCHAR(5));
    INSERT INTO @ConditionTablePriority (PriorityOrder, ConditionTable)
    VALUES (1,'A860'),(2,'A935'),(3,'A933'),(4,'A862'),(5,'A559');

    ----------------------------------------------------------------------------
    -- 1049: UNCHANGED (with strict Generation/Grade matching)
    ----------------------------------------------------------------------------
    IF @CompanyCode = '1049'
    BEGIN
        SELECT TOP 1 @FinalConditionAmount = 
            CASE 
                WHEN bag.Condition_Amount IS NOT NULL AND dis.Condition_Amount IS NOT NULL 
                     THEN bag.Condition_Amount - (bag.Condition_Amount * dis.Condition_Amount / 100)
                ELSE bag.Condition_Amount
            END
        FROM @ConditionTablePriority ctp
        JOIN TB_PriceMaster bag WITH (INDEX(IDX_TB_PriceMaster_Search))
            ON bag.Condition_Table = ctp.ConditionTable
           AND bag.CompanyCode     = @CompanyCode
           AND bag.Condition_Type  = 'ZBAG'
           AND bag.Material_Description LIKE '%' + @Variety + '%'
           AND bag.Material_Description LIKE '%' + @Product + '%'
           -- strict (word-like) match for Generation & Grade
           AND (' ' + bag.Material_Description + ' ') LIKE '% ' + @Generation + ' %'
           AND (' ' + bag.Material_Description + ' ') LIKE '% ' + @Grade + ' %'
        LEFT JOIN TB_PriceMaster dis WITH (INDEX(IDX_TB_PriceMaster_Search))
            ON dis.Material_Number  = bag.Material_Number
           AND dis.Condition_Table  = bag.Condition_Table
           AND dis.Condition_Type   = 'ZDIS'
           AND dis.Region           = @DestinationState
        ORDER BY ctp.PriorityOrder;

        SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
        RETURN;
    END

    ----------------------------------------------------------------------------
    -- 1054: A860 (customer) OR A517 (plant) OR A706 (plant/region) OR A935 (region)
    -- Hierarchy (when ExState & DestinationState are provided): A517 → A706 → A935
    ----------------------------------------------------------------------------
    IF @CompanyCode = '1054'
    BEGIN

	    SET @DestinationState = NULLIF(LTRIM(RTRIM(@DestinationState)), '');
        SET @CustomerCode     = NULLIF(LTRIM(RTRIM(@CustomerCode)),     '');
        SET @ExState          = NULLIF(LTRIM(RTRIM(@ExState)),          '');

        DECLARE @HasDest BIT = CASE WHEN @DestinationState IS NOT NULL AND @DestinationState <> '' THEN 1 ELSE 0 END;
        DECLARE @HasCust BIT = CASE WHEN @CustomerCode     IS NOT NULL AND @CustomerCode     <> '' THEN 1 ELSE 0 END;
        DECLARE @HasEx   BIT = CASE WHEN @ExState         IS NOT NULL AND  @ExState          <> '' THEN 1 ELSE 0 END;

        ------------------------------------------------------------------------
        -- Case 1: A860 (customer-wise) takes precedence if CustomerCode provided
        ------------------------------------------------------------------------
        IF (@HasCust = 1)
        BEGIN
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A860'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              -- strict match for Generation & Grade
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Generation + ' %'
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Grade + ' %'
              AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(@CustomerCode))
              AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;

            SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
            RETURN;
        END

     ------------------------------------------------------------------------
        -- Reusable PlantMap for ExState (used by A517 and A706)
        ------------------------------------------------------------------------
        DECLARE @PlantMap TABLE (Plant NVARCHAR(10) PRIMARY KEY);
        IF (@HasEx = 1)
        BEGIN
            INSERT INTO @PlantMap(Plant)
            SELECT ps.Plant
            FROM dbo.TB_Plant_State ps
            WHERE LTRIM(RTRIM(ps.State)) = @ExState;
        END

        ------------------------------------------------------------------------
        -- Case 2: Both ExState & DestinationState provided
        --         Try A517 (Plant) → A706 (Plant+Region) → A935 (Region)
        ------------------------------------------------------------------------
        IF (@HasEx = 1 AND @HasDest = 1)
        BEGIN
            -- A517 (Plant-only)
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            INNER JOIN @PlantMap p
                ON p.Plant = pm.Plant
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A517'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              -- strict match for Generation & Grade
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Generation + ' %'
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Grade + ' %'
              AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;

            IF (@FinalConditionAmount IS NOT NULL)
            BEGIN
                SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
                RETURN;
            END

            -- A706 (Plant + Region)
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            INNER JOIN dbo.TB_StateRegionMap srm
                ON LTRIM(RTRIM(srm.StateName)) = @DestinationState
            INNER JOIN @PlantMap p
                ON p.Plant = pm.Plant
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A706'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Region            = srm.RegionCode
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              -- strict match for Generation & Grade
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Generation + ' %'
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Grade + ' %'
              AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;

            IF (@FinalConditionAmount IS NOT NULL)
            BEGIN
                SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
                RETURN;
            END


            -- Fallback to A935 (Region-only)
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            INNER JOIN dbo.TB_StateRegionMap srm
                ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(@DestinationState))
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A935'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Region            = srm.RegionCode
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              -- strict match for Generation & Grade
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Generation + ' %'
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Grade + ' %'
              AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;

            SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
            RETURN;
        END

        ------------------------------------------------------------------------
        -- Case 3: Only DestinationState provided → A935 (Region)
        ------------------------------------------------------------------------
        IF (@HasDest = 1 AND @HasEx = 0)
        BEGIN
            SELECT TOP 1 @FinalConditionAmount = pm.Condition_Amount
            FROM TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
            INNER JOIN dbo.TB_StateRegionMap srm
                ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(@DestinationState))
            WHERE pm.CompanyCode       = @CompanyCode
              AND pm.Condition_Table   = 'A935'
              AND pm.Condition_Type    = 'ZB01'
              AND pm.Region            = srm.RegionCode
              AND pm.Material_Description LIKE '%' + @Variety + '%'
              AND pm.Material_Description LIKE '%' + @Product + '%'
              -- strict match for Generation & Grade
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Generation + ' %'
              AND (' ' + pm.Material_Description + ' ') LIKE '% ' + @Grade + ' %'
              AND (pm.Valid_From IS NULL OR pm.Valid_From <= @AsOfDate)
              AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= @AsOfDate)
            ORDER BY pm.Id DESC;

            SELECT ISNULL(@FinalConditionAmount, 0) AS FinalConditionAmount;
            RETURN;
        END

        ------------------------------------------------------------------------
        -- Nothing valid → 0.00
        ------------------------------------------------------------------------
        SELECT CAST(0.00 AS DECIMAL(18,2)) AS FinalConditionAmount;
        RETURN;
    END
END
GO
