USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerTMAndRM]    Script Date: 9/15/2025 10:03:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCustomerTMAndRM]
    @CustomerCode  NVARCHAR(50)
  
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- Customer
        C.UserCode      AS CustomerCode,
        C.Name          AS CustomerName,
        C.RoleId        AS CustomerRoleId,
        CR.RoleName     AS CustomerRoleName,
        C.RepManCode    AS TMCode_FromCustomer,

        -- Team Manager (TM)
        TM.UserCode     AS TMCode,
        TM.Name         AS TMName,
        TM.RoleId       AS TMRoleId,
        TR.RoleName     AS TMRoleName,
        TM.RepManCode   AS RMCode_FromTM,

        -- Reporting Manager (RM)
        RM.UserCode     AS RMCode,
        RM.Name         AS RMName,
        RM.RoleId       AS RMRoleId,
        RR.RoleName     AS RMRoleName
       
    FROM Users AS C
    LEFT JOIN Roles AS CR
        ON CR.RoleId = C.RoleId
    LEFT JOIN Users AS TM
        ON TM.UserCode = C.RepManCode
		AND TM.CompanyCode = '1054'         
    LEFT JOIN Roles AS TR
        ON TR.RoleId = TM.RoleId
    LEFT JOIN Users AS RM
        ON RM.UserCode = TM.RepManCode
    	AND TM.CompanyCode = '1054'  
    LEFT JOIN Roles AS RR
        ON RR.RoleId = RM.RoleId
    WHERE C.UserCode = @CustomerCode
	    AND C.CompanyCode = 1054;
     
END
GO
