USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetCropList_In_CreateIndent]    Script Date: 8/12/2025 12:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCropList_In_CreateIndent]
    @CompanyCode INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @CurrentDate DATE = GETDATE();

        ;WITH Valid AS (
            SELECT DISTINCT
                LTRIM(RTRIM(PM.[Crop]))     AS Crop,
                PM.[PackSize]
            FROM [dbo].[TB_PriceMaster] PM
            WHERE PM.CompanyCode = @CompanyCode
              AND (PM.[Deletion_Indicator] IS NULL OR PM.[Deletion_Indicator] NOT LIKE '%X%')
              AND (@CurrentDate >= PM.[Valid_From] OR PM.[Valid_From] IS NULL)
              AND (@CurrentDate <= PM.[Valid_To]   OR PM.[Valid_To]   IS NULL)
              AND PM.[Crop] IS NOT NULL
        )
        SELECT
            V.Crop,
            V.PackSize
        FROM Valid V
        OUTER APPLY (
            SELECT MIN(PP.Priority) AS CropPriority
            FROM dbo.TB_ProductPriority PP
            WHERE LTRIM(RTRIM(PP.Crop)) = V.Crop
        ) P
        ORDER BY COALESCE(P.CropPriority, 9999) ASC,
                 V.Crop ASC,        -- stable tie-breaker
                 V.PackSize ASC;    -- secondary ordering within crop

    END TRY
    BEGIN CATCH
        INSERT INTO ErrorLog_dashboard (
            ErrorNumber,
            ErrorSeverity,
            ErrorState,
            ErrorProcedure,
            ErrorLine,
            ErrorMessage,
            ProcedureName
        )
        VALUES (
            ERROR_NUMBER(),
            ERROR_SEVERITY(),
            ERROR_STATE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            ERROR_MESSAGE(),
            'GetCropList_In_CreateIndent'
        );

        SELECT 
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END
GO
