USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Insert_SAP_SO_Response_Log_MASL]    Script Date: 8/13/2025 6:14:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Insert_SAP_SO_Response_Log_MASL]
    @CreateOrderNumber BIGINT,
    @CustomerCode      NVARCHAR(50) = NULL,
    @SONumber          NVARCHAR(50) = NULL,
    @Message           NVARCHAR(2000) = NULL,
    @Source            VARCHAR(30) = 'CreateSapOrder'
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.TB_SAP_SO_Response_Log_MASL
    (
        CreateOrderNumber, CustomerCode, SONumber, Message, Source
    )
    VALUES
    (
        @CreateOrderNumber, @CustomerCode, @SONumber, @Message, @Source
    );
END
GO
