USE [agriuatbackup3June2025]
GO
/****** Object:  Table [dbo].[TB_ProductPriority]    Script Date: 8/12/2025 11:56:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ProductPriority](
	[Material_Number] [nvarchar](50) NOT NULL,
	[Material_Description] [nvarchar](255) NOT NULL,
	[Crop] [nvarchar](100) NULL,
	[Variety] [nvarchar](150) NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_TB_ProductPriority] PRIMARY KEY CLUSTERED 
(
	[Material_Number] ASC,
	[Material_Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_ProductPriority] ([Material_Number], [Material_Description], [Crop], [Variety], [Priority]) VALUES (N'CS01030409', N'HYB PADDY MP 3030 PACK SEED 1KG', N'HYB PADDY SEEDS', N'MP 3030', 1)
INSERT [dbo].[TB_ProductPriority] ([Material_Number], [Material_Description], [Crop], [Variety], [Priority]) VALUES (N'CS01030413', N'HYB PADDY MP 3030 PACK SEED 3KG', N'HYB PADDY SEEDS', N'MP 3030', 1)
INSERT [dbo].[TB_ProductPriority] ([Material_Number], [Material_Description], [Crop], [Variety], [Priority]) VALUES (N'CS01040409', N'HYB PADDY MP 3110 PACK SEED 1KG', N'HYB PADDY SEEDS', N'MP 3110', 5)
GO
