USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetMHZPCCustomers]    Script Date: 9/4/2025 6:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetMHZPCCustomers]
	
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT DISTINCT 
	CustomerName, 
	CustomerCode 
	
	FROM TB_CustomerMaster
	WHERE CompanyCode = '1054'
END
GO
