USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_AllStockDetails]    Script Date: 8/11/2025 11:01:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_AllStockDetails]
@CompanyCode BIGINT,
@Storage_Location VARCHAR(10) = NULL,
@Offset INT,
@PageSize INT

AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT
		CompanyCode, 
		Plant, 
		Storage_Location, 
		Description_of_Storage_Location, 
		Material,
		Material_Description, 
		Batch, 
		Base_Unit_of_Measure, 
		Unrestricted_Kgs, 
		Stock_in_Transit

	FROM TB_StockDetails
	WHERE CompanyCode = @CompanyCode
	AND (@Storage_Location IS NULL OR Storage_Location = @Storage_Location)
	ORDER BY Material  -- choose your stable sort (Material/Material_Description/etc.)
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;
END
GO
