/****** Object:  Table [dbo].[TB_DepositBalance]    Script Date: 15/09/2025 22:41:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DepositBalance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[TransactionReferenceNo] [nvarchar](100) NULL,
	[ReceiptPath] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[ApprovedAt] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_DepositBalance] ON 

INSERT [dbo].[TB_DepositBalance] ([Id], [CustomerCode], [PaymentDate], [AmountPaid], [TransactionReferenceNo], [ReceiptPath], [Status], [ApprovedAt], [CreatedAt]) VALUES (35, N'AGASB0258', CAST(N'2025-04-02T00:00:00.000' AS DateTime), CAST(4000.00 AS Decimal(18, 2)), N'testreference', N'DepositImages/AGASB0258/8ebe3f53-479f-444c-b625-8681dd9bf710.jpg', N'Approved', CAST(N'2025-04-04T04:51:49.317' AS DateTime), CAST(N'2025-04-02T20:55:00.950' AS DateTime))
INSERT [dbo].[TB_DepositBalance] ([Id], [CustomerCode], [PaymentDate], [AmountPaid], [TransactionReferenceNo], [ReceiptPath], [Status], [ApprovedAt], [CreatedAt]) VALUES (36, N'AGASB0258', CAST(N'2025-04-04T00:00:00.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), N'T000001', N'DepositImages/AGASB0258/ee16236f-7926-4152-a9aa-777aa2784533.pdf', N'Approved', CAST(N'2025-07-25T17:00:14.773' AS DateTime), CAST(N'2025-04-04T04:42:00.360' AS DateTime))
INSERT [dbo].[TB_DepositBalance] ([Id], [CustomerCode], [PaymentDate], [AmountPaid], [TransactionReferenceNo], [ReceiptPath], [Status], [ApprovedAt], [CreatedAt]) VALUES (37, N'AGASB0259', CAST(N'2025-04-03T00:00:00.000' AS DateTime), CAST(500000.00 AS Decimal(18, 2)), N'T00002', N'DepositImages/AGASB0259/d3c7b28b-a2a8-4b48-b315-3cac615312ec.pdf', N'Approved', CAST(N'2025-04-04T13:30:01.177' AS DateTime), CAST(N'2025-04-04T04:45:58.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[TB_DepositBalance] OFF
GO
ALTER TABLE [dbo].[TB_DepositBalance] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TB_DepositBalance] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
