USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[InsertDebitCreditEntry]    Script Date: 9/4/2025 6:26:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertDebitCreditEntry]
	@TransactionDate    DATETIME,
    @CustomerCode       NVARCHAR(50),
    @TransactionType    NVARCHAR(30),
    @TransactionNumber  NVARCHAR(100),
    @Amount             DECIMAL(18,2),
    @TransactionRemarks NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.TB_DebitCreditEntry
    (
        TransactionDate,
        CustomerCode,
        TransactionType,
        TransactionNumber,
        Amount,
        TransactionRemarks,
        Status,
        CreatedAt
    )
    VALUES
    (
        @TransactionDate,
        @CustomerCode,
        @TransactionType,
        @TransactionNumber,
        @Amount,
        @TransactionRemarks,
        'Pending',         -- will go to FI user for approval
        GETDATE()
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Id;
END
GO
