USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetDepositHistory]    Script Date: 9/16/2025 9:54:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDepositHistory]
   @CustomerCode NVARCHAR(50) = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @Status NVARCHAR(50) = NULL,
    @UserId NVARCHAR(50) = NULL,
    @RoleId INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

	 DECLARE @FromStart DATETIME = NULL;
    DECLARE @ToExclusive DATETIME = NULL;

	  IF @FromDate IS NOT NULL
        SET @FromStart = CONVERT(DATETIME, CONVERT(date, @FromDate)); -- YYYY-MM-DD 00:00:00.000

    IF @ToDate IS NOT NULL
    BEGIN
        IF CONVERT(date, @ToDate) >= '9999-12-31'
            SET @ToExclusive = '9999-12-31 23:59:59.997';
        ELSE
            SET @ToExclusive = DATEADD(day, 1, CONVERT(date, @ToDate)); -- next day midnight (exclusive)
    END


    SELECT 
        db.Id,
        db.CustomerCode,
        db.PaymentDate,
        db.AmountPaid,
        db.TransactionReferenceNo,
        db.ReceiptPath,
        db.Status,
        db.CreatedAt,
        db.ApprovedAt
    FROM 
        TB_DepositBalance db
		LEFT JOIN TB_CustomerMaster cm ON db.CustomerCode = cm.CustomerCode
    WHERE 
        (
            -- Allow FI users to see all deposits
             (@RoleId = 8)
            -- OR allow TM users to see deposits of their assigned customers only
            OR (@RoleId = 2 AND @UserId IS NOT NULL AND cm.TM = @UserId)
            -- OR allow Customer to see only their own deposits
            OR (@RoleId = 1 AND @CustomerCode IS NOT NULL AND db.CustomerCode = @CustomerCode)
        )
        -- Additional filters
         AND (@FromDate IS NULL OR db.PaymentDate >= @FromStart)
        AND (@ToDate   IS NULL OR db.PaymentDate <  @ToExclusive)
        AND (@Status IS NULL OR db.Status = @Status)
    ORDER BY 
        db.CreatedAt DESC;
        
END
GO
