USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Get_PriceCard]    Script Date: 9/11/2025 10:01:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_PriceCard]
    @CompanyCode   BIGINT,
    @Status        BIT           = NULL,
    @PriceCardType NVARCHAR(10)  = NULL,
    @Variety       NVARCHAR(100) = NULL,
    @CustomerCode  NVARCHAR(50)  = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    -------------------------------------------------------------------------
    -- Resolve the customer's state (RegionDescription) – used only for 1054
    -------------------------------------------------------------------------
    DECLARE @CustomerState NVARCHAR(100) = NULL;

    IF (@CompanyCode = 1054 AND @CustomerCode IS NOT NULL)
    BEGIN
        SELECT @CustomerState = LTRIM(RTRIM(cm.RegionDescription))
        FROM dbo.TB_CustomerMaster AS cm
        WHERE cm.CustomerCode = @CustomerCode
          AND cm.CompanyCode  = @CompanyCode;
    END

    -------------------------------------------------------------------------
    -- Condition Table Priority (kept for non-1054 companies)
    -------------------------------------------------------------------------
    DECLARE @ConditionTablePriority TABLE (PriorityOrder INT, ConditionTable NVARCHAR(5));
    INSERT INTO @ConditionTablePriority (PriorityOrder, ConditionTable)
    VALUES (1, 'A860'), (2, 'A935'), (3, 'A933'), (4, 'A862'), (5, 'A559');

    -------------------------------------------------------------------------
    -- Main query
    -------------------------------------------------------------------------
    SELECT 
        pc.Id, 
        pc.PriceCardType, 
        pc.Variety, 
        pc.Product, 
        pc.Generation, 
        pc.Grade, 
        gs.Size AS Size,  
        pc.BookingPrice,
        pc.State,
        pc.DestinationState,
        pc.PrimaryRatio,
        pc.SecondaryVariety,
        pc.SecondaryProduct,
        pc.SecondaryGeneration,
        pc.SecondaryGrade,
        gs2.Size AS SecondarySize,  
        pc.SecondaryBookingPrice,
        pc.SecondaryRatio,
        pc.CreatedOn,
        pc.Status,
        COALESCE(primary_cond.Condition_Amount,   0) AS condition_amount,
        COALESCE(secondary_cond.Condition_Amount, 0) AS secondaryCondition_amount
    FROM dbo.TB_PriceCard AS pc
    LEFT JOIN dbo.TB_GradeSize AS gs  ON pc.Grade          = gs.Grade
    LEFT JOIN dbo.TB_GradeSize AS gs2 ON pc.SecondaryGrade = gs2.Grade

    /* PRIMARY condition amount */
   
OUTER APPLY (
    SELECT TOP 1 pm.Condition_Amount
    FROM dbo.TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
    LEFT JOIN @ConditionTablePriority ctp
           ON ctp.ConditionTable = pm.Condition_Table
    -- Dest → RegionCode (A935, A706)
    LEFT JOIN dbo.TB_StateRegionMap srm
           ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(pc.DestinationState))
    -- PriceCard.State (ExState) → Plant (A706)
    LEFT JOIN dbo.TB_Plant_State ps
           ON LTRIM(RTRIM(ps.State)) = LTRIM(RTRIM(pc.State))
    WHERE pm.CompanyCode        = @CompanyCode
      AND pm.Condition_Type     = 'ZB01'
      AND pm.Material_Description LIKE '%' + pc.Variety    + '%'
      AND pm.Material_Description LIKE '%' + pc.Product    + '%'
      AND pm.Material_Description LIKE '%' + pc.Generation + '%'
      AND pm.Material_Description LIKE '%' + pc.Grade      + '%'
      -- Validity window (inclusive)
      AND (pm.Valid_From IS NULL OR pm.Valid_From <= CONVERT(date, GETDATE()))
      AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= CONVERT(date, GETDATE()))
      AND (
            (@CompanyCode = 1054 AND
                (
                    -- A860 (customer-wise)
                    (pc.CustomerCode IS NOT NULL
                     AND pm.Condition_Table = 'A860'
                     AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(pc.CustomerCode)))
                    OR
                    -- A706 (plant/region) needs both pc.State & pc.DestinationState
                    (pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL
                     AND pm.Condition_Table = 'A706'
                     AND pm.Region = srm.RegionCode
                     AND pm.Plant  = ps.Plant)
                    OR
                    -- A935 (region-only)
                    (pc.DestinationState IS NOT NULL
                     AND pm.Condition_Table = 'A935'
                     AND pm.Region = srm.RegionCode)
                )
            )
            OR (@CompanyCode <> 1054)  -- other companies: keep old priority behavior
          )
    ORDER BY
        CASE WHEN @CompanyCode = 1054 THEN
            CASE
                WHEN pc.CustomerCode IS NOT NULL AND pm.Condition_Table = 'A860' THEN 0
                WHEN pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A706' THEN 1
                WHEN pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A935' THEN 2
                ELSE 99
            END
        ELSE ctp.PriorityOrder END,
        pm.Id DESC
) AS primary_cond


   /* SECONDARY condition amount */
OUTER APPLY (
    SELECT TOP 1 pm.Condition_Amount
    FROM dbo.TB_PriceMaster pm WITH (INDEX(IDX_TB_PriceMaster_Search))
    LEFT JOIN @ConditionTablePriority ctp
           ON ctp.ConditionTable = pm.Condition_Table
    LEFT JOIN dbo.TB_StateRegionMap srm
           ON LTRIM(RTRIM(srm.StateName)) = LTRIM(RTRIM(pc.DestinationState))
    LEFT JOIN dbo.TB_Plant_State ps
           ON LTRIM(RTRIM(ps.State)) = LTRIM(RTRIM(pc.State))
    WHERE pm.CompanyCode        = @CompanyCode
      AND pm.Condition_Type     = 'ZB01'
      AND pm.Material_Description LIKE '%' + pc.SecondaryVariety    + '%'
      AND pm.Material_Description LIKE '%' + pc.SecondaryProduct    + '%'
      AND pm.Material_Description LIKE '%' + pc.SecondaryGeneration + '%'
      AND pm.Material_Description LIKE '%' + pc.SecondaryGrade      + '%'
      -- Validity window (inclusive)
      AND (pm.Valid_From IS NULL OR pm.Valid_From <= CONVERT(date, GETDATE()))
      AND (pm.Valid_To   IS NULL OR pm.Valid_To   >= CONVERT(date, GETDATE()))
      AND (
            (@CompanyCode = 1054 AND
                (
                    (pc.CustomerCode IS NOT NULL
                     AND pm.Condition_Table = 'A860'
                     AND LTRIM(RTRIM(pm.Customer_Number)) = LTRIM(RTRIM(pc.CustomerCode)))
                    OR
                    (pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL
                     AND pm.Condition_Table = 'A706'
                     AND pm.Region = srm.RegionCode
                     AND pm.Plant  = ps.Plant)
                    OR
                    (pc.DestinationState IS NOT NULL
                     AND pm.Condition_Table = 'A935'
                     AND pm.Region = srm.RegionCode)
                )
            )
            OR (@CompanyCode <> 1054)
          )
    ORDER BY
        CASE WHEN @CompanyCode = 1054 THEN
            CASE
                WHEN pc.CustomerCode IS NOT NULL AND pm.Condition_Table = 'A860' THEN 0
                WHEN pc.State IS NOT NULL AND pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A706' THEN 1
                WHEN pc.DestinationState IS NOT NULL AND pm.Condition_Table = 'A935' THEN 2
                ELSE 99
            END
        ELSE ctp.PriorityOrder END,
        pm.Id DESC
) AS secondary_cond


    WHERE
        -- Existing filters
        (@Status IS NULL OR pc.Status = @Status)
        AND (@PriceCardType IS NULL OR pc.PriceCardType = @PriceCardType)
        AND (@Variety IS NULL OR pc.Variety = @Variety)

        -- Visibility rules: only enforced when CompanyCode=1054 and a customer context exists
        AND (
            @CompanyCode <> 1054
            OR @CustomerCode IS NULL
            OR (
                -- A860 visibility: exact customer
                (pc.CustomerCode IS NOT NULL
                 AND LTRIM(RTRIM(pc.CustomerCode)) = LTRIM(RTRIM(@CustomerCode)))
                -- A935 visibility: destination = customer's state AND Ex State is Punjab or same state
                OR (pc.DestinationState IS NOT NULL
                    AND @CustomerState IS NOT NULL
                    AND LTRIM(RTRIM(pc.DestinationState)) = LTRIM(RTRIM(@CustomerState))
                    AND pc.State IN ('Punjab', @CustomerState))
            )
        );
END
GO
