USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[Check_Customer_Payment_Status]    Script Date: 9/8/2025 1:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Check_Customer_Payment_Status]
    @CompanyCode       NVARCHAR(50),               -- keep as-is if your table uses NVARCHAR
    @CustomerCode      NVARCHAR(50),
    @IsEligible        BIT           OUTPUT,
    @ResultMessage     NVARCHAR(500) OUTPUT,
    @OutstandingAmount DECIMAL(18,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Initialize outputs
        SET @IsEligible = 0;
        SET @ResultMessage = N'';
        SET @OutstandingAmount = 0;

        ;WITH Latest AS
        (
            SELECT TOP (1)
                [91_120_Days],
                [121_150_Days],
                [151_180_Days],
                [181_210_Days],
                [210_365_Days],
                [Over_365_Days],
                -- normalize to a datetime value even if column is NVARCHAR
                TRY_CONVERT(datetime, updated_by) AS updated_dt,
                updated_by
            FROM TB_CustomerAgeingReport
            WHERE CompanyCode  = @CompanyCode
              AND CustomerCode = @CustomerCode
            ORDER BY
                TRY_CONVERT(datetime, updated_by) DESC,  -- if NVARCHAR, convertable strings will sort correctly
                updated_by DESC                          -- tie-breaker (also works if the column is already DATETIME)
        )
        SELECT 
            @OutstandingAmount =
                ISNULL([91_120_Days], 0) +
                ISNULL([121_150_Days], 0) +
                ISNULL([151_180_Days], 0) +
                ISNULL([181_210_Days], 0) +
                ISNULL([210_365_Days], 0) +
                ISNULL([Over_365_Days], 0)
        FROM Latest;

        IF @OutstandingAmount > 0
        BEGIN
            SET @IsEligible = 0;
            SET @ResultMessage = N'You have outstanding payments over 90 days (based on latest ageing row).';
        END
        ELSE
        BEGIN
            SET @IsEligible = 1;
            SET @ResultMessage = N'You are eligible to create orders (based on latest ageing row).';
        END

        RETURN 0;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();

        INSERT INTO ErrorLog_CreateSales_Indent
            (ErrorMessage, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine, ErrorDate, ResultMessage)
        VALUES
            (@ErrorMessage, @ErrorSeverity, @ErrorState, ERROR_PROCEDURE(), ERROR_LINE(), GETDATE(), N'Failed');

        SET @ResultMessage = N'Error: ' + @ErrorMessage;
        SET @IsEligible = 0;
        RETURN 1;
    END CATCH
END
GO
