USE [agriuatbackup3June2025]
GO
/****** Object:  StoredProcedure [dbo].[GetBookingDetails]    Script Date: 8/6/2025 12:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetBookingDetails]
    @UserCode NVARCHAR(50),
    @BookingStatus NVARCHAR(50),
    @CustomerCode NVARCHAR(50) = NULL  
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RoleId INT;

    -- Get the RoleId of the logged-in user
    SELECT @RoleId = UM.RoleId
    FROM Users UM
    WHERE UM.UserCode = @UserCode;

    -- CTE to find all TMs under the given higher authority
    WITH UserHierarchy AS (
        SELECT UserCode FROM Users WHERE UserCode = @UserCode
        UNION ALL
        SELECT U.UserCode FROM Users U 
        INNER JOIN UserHierarchy UH ON U.RepManCode = UH.UserCode
    )

    -- Fetch booking details
    SELECT 
        O.[OrderNumber], 
        O.[CustomerCode], 
        O.[BillingAddress], 
        O.[ShippingAddress], 
		DO.[ProductId],
        DO.[PriceCardType],
        DO.[ProductName], 
        DO.[Condition_Amount], 
        DO.[BookingPrice], 
        DO.[OrderQuantity], 
		DO.[OrderAmount],
        DO.[BookingAmount], 
        DO.[BalanceAmountToPay], 
	    DO.[PrimaryRatio],
        DO.[SecondaryProductName], 
        DO.[SecondaryCondition_Amount], 
        DO.[SecondaryBookingPrice], 
        DO.[SecondaryOrderQuantity], 
        DO.[SecondaryOrderAmount], 
        DO.[SecondaryBookingAmount], 
        DO.[SecondaryBalanceAmountToPay], 
		DO.[SecondaryRatio],
        DO.[DispatchStatus], 
        DO.[TMApproval], 
		DO.[TMNAME],
		DO.[TMUserCode],
		TMU.[RoleId] AS TMApprovalRole,
		DO.[HAApproval],
		HAU.[RoleId] AS ZMApprovalRole,
		DO.[HAName],
		DO.[HAUserCode],
        DO.[DateOfPurchase],
		DO.[TMRejectionReasonId],
        DO.[HARejectionReasonId],
		DO.[PrimaryDispatchStatus],
		DO.[SecondaryDispatchStatus],
        TR.[Reason] AS TMRejectionReason,
        HR.[Reason] AS HARejectionReason,
		DO.[SoNumber],
		DO.[SODate]
    FROM DealerOrderMHZPC DO
	INNER JOIN OrdersMHZPC O ON DO.OrderNumber = O.OrderNumber
	LEFT JOIN RejectionReasons TR ON DO.TMRejectionReasonId = TR.Id
    LEFT JOIN RejectionReasons HR ON DO.HARejectionReasonId = HR.Id
	LEFT JOIN Users TMU ON DO.TMUserCode = TMU.UserCode 
    LEFT JOIN Users HAU ON DO.HAUserCode = HAU.UserCode
    WHERE 
        (
            -- Case 1: Customers (RoleId = 1) can only see their own bookings
            (@RoleId = 1 AND O.CustomerCode = @UserCode)

            -- Case 2: Territory Manager (TM) (RoleId = 2)
            OR (@RoleId = 2 AND 
                (
                    (@CustomerCode IS NOT NULL AND O.CustomerCode = @CustomerCode)
                    OR (@CustomerCode IS NULL AND O.CustomerCode IN 
                        (SELECT CustomerCode FROM TB_CustomerMaster WHERE TM = @UserCode))
                )
            )

            -- Case 3: Higher Authorities (RoleId > 2)
            OR (@RoleId > 2 AND 
                (
                    -- Fetch specific customer if provided
                    (@CustomerCode IS NOT NULL AND O.CustomerCode = @CustomerCode)

                    -- Fetch all customers under this authority if no specific customer is provided
                    OR (@CustomerCode IS NULL AND O.CustomerCode IN 
                        (SELECT CustomerCode FROM TB_CustomerMaster 
                         WHERE TM IN (SELECT UserCode FROM UserHierarchy)
                        )
                    )
                )
            )
        )
       AND (
    -- Booking is Rejected if TMApproval is Rejected
    (@BookingStatus = 'Rejected' AND DO.TMApproval = 'Rejected')

    -- Booking is Rejected if TMApproval is Approved but HAApproval is Rejected
    OR (@BookingStatus = 'Rejected' AND DO.TMApproval = 'Approved' AND DO.HAApproval = 'Rejected')

	 OR (@BookingStatus = 'Rejected' AND DO.TMApproval = 'Pending' AND DO.HAApproval = 'Rejected')

       -- Booking is Pending when DispatchStatus is Pending and either TM or HA approval is still Pending
    OR (@BookingStatus = 'Pending' AND DO.DispatchStatus = 'Pending' 
        AND (
            (DO.TMApproval = 'Approved' AND DO.HAApproval = 'Pending')
            OR (DO.TMApproval = 'Pending' AND DO.HAApproval = 'Approved')
			  OR (DO.TMApproval = 'Pending' AND DO.HAApproval = 'Pending')
        )
    )
	  -- Booking is Approved when DispatchStatus is Pending, but both TM and HA approvals are Approved
    OR (@BookingStatus = 'Approved' AND DO.DispatchStatus = 'Pending' 
        AND DO.TMApproval = 'Approved' AND DO.HAApproval = 'Approved'
    )

     -- Booking is Completed when DispatchStatus is Dispatched and both TM and HA approvals are Approved
    OR (@BookingStatus = 'Approved' AND DO.DispatchStatus = 'Dispatched' 
        AND DO.TMApproval = 'Approved' AND DO.HAApproval = 'Approved'
    )
    -- Add conditions to filter out completely dispatched items
   -- Modify the existing filtering condition to remove items that are completely dispatched
 -- Exclude OrderNumbers where all products are fully dispatched
AND O.OrderNumber NOT IN (
    SELECT OrderNumber
    FROM DealerOrderMHZPC
    GROUP BY OrderNumber
    HAVING SUM(
        CASE 
            WHEN PriceCardType = 'Single' AND ISNULL(PrimaryDispatchStatus, '') != 'Completed' THEN 1
            WHEN PriceCardType = 'Combo' AND 
                 (ISNULL(PrimaryDispatchStatus, '') != 'Completed' OR ISNULL(SecondaryDispatchStatus, '') != 'Completed') THEN 1
            ELSE 0
        END
    ) = 0  -- Means all are completed
)


);
END;
GO
