USE [agriuatbackup3June2025]
GO
/****** Object:  Table [dbo].[TB_DebitCreditEntry]    Script Date: 9/4/2025 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DebitCreditEntry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[TransactionNumber] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionRemarks] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_DebitCreditEntry] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[TB_DebitCreditEntry] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
